backports.ssl-match-hostname==3.4.0.2
docutils==0.11
ipython==1.2.1
Jinja2==2.7.2
MarkupSafe==0.19
networkx==1.8.1
numpy==1.8.0
Pygments==1.6
python-libsbml-experimental==5.9.2
pyzmq==14.1.1
Sphinx==1.2.2
tornado==3.2
